* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-box {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 80%;
  max-width: calc(800 / 14.4 * 1vw);
  margin: calc(20 / 14.4 * 1vw) auto;
  padding: calc(20 / 14.4 * 1vw);
  background-color: white;
  border-radius: calc(8 / 14.4 * 1vw);
  box-shadow: 0 calc(2 / 14.4 * 1vw) calc(10 / 14.4 * 1vw) rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: calc(15 / 14.4 * 1vw);
  margin-bottom: calc(30 / 14.4 * 1vw);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
textarea,
button,
select {
  padding: calc(10 / 14.4 * 1vw);
  border: calc(1 / 14.4 * 1vw) solid #ddd;
  border-radius: calc(5 / 14.4 * 1vw);
  font-size: calc(16 / 14.4 * 1vw);
  resize: none;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

.add-product {
  background: linear-gradient(96.78deg, #f64d4d -57.09%, #4d5ef6 101.17%);
}

h2 {
  margin-top: calc(40 / 14.4 * 1vw);
  text-align: center;
  color: #333;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: calc(15 / 14.4 * 1vw);
  max-height: calc(400 / 14.4 * 1vw);
  overflow-y: auto;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: calc(15 / 14.4 * 1vw);
  border-radius: calc(8 / 14.4 * 1vw);
  box-shadow: 0 calc(2 / 14.4 * 1vw) calc(5 / 14.4 * 1vw) rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
  max-height: calc(200 / 14.4 * 1vw);
  object-fit: contain;
  margin-bottom: calc(15 / 14.4 * 1vw);
}

.product-card h3 {
  color: #333;
  margin-bottom: calc(10 / 14.4 * 1vw);
}

.product-card p {
  color: #777;
  font-size: calc(14 / 14.4 * 1vw);
  margin-bottom: calc(10 / 14.4 * 1vw);
}

.product-card span {
  font-weight: bold;
  color: #000;
  margin-bottom: calc(15 / 14.4 * 1vw);
}

.product-card button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: calc(8 / 14.4 * 1vw) calc(16 / 14.4 * 1vw);
  border-radius: calc(5 / 14.4 * 1vw);
  cursor: pointer;
  font-weight: bold;
}

.product-card button:hover {
  background-color: #d32f2f;
}
#productCategory {
  padding: calc(10 / 13.6 * 1vw) calc(40 / 13.6 * 1vw) calc(10 / 13.6 * 1vw)
    calc(15 / 13.6 * 1vw);
  border: 1px solid #ccc;
  background-color: white;
  color: #333;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right calc(10 / 13.6 * 1vw) center;
  background-size: calc(20 / 13.6 * 1vw);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.container-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: calc(10 / 13.6 * 1vw);
}

.container-top h1 {
  text-align: center;
  width: 80%;
  font-family: Roboto, sans-serif;
  font-size: calc(27 / 13.6 * 1vw);
}
