.headerUp {
  width: 100%;
  display: flex;
  gap: calc(522 / 13.6 * 1vw);
  justify-content: end;
}

.headerUpLeft {
  display: flex;
  gap: calc(21 / 13.6 * 1vw);
  align-items: center;
}

.headerUpRight {
  display: flex;
  gap: calc(5 / 13.6 * 1vw);
  align-items: center;
}

.headerUpRight > span {
  width: calc(1 / 13.6 * 1vw);
  height: calc(10 / 13.6 * 1vw);
  background-color: black;
}

.headerUpRight > p {
  font-family: Roboto, sans-serif;
  font-size: calc(12 / 13.6 * 1vw);
  font-weight: 300;
  line-height: calc(14 / 13.6 * 1vw);
  color: black;
}

.headerUpRight > img:first-child {
  width: calc(20 / 13.6 * 1vw);
  height: calc(13 / 13.6 * 1vw);
}

.headerUpRight > img:last-child {
  width: calc(10 / 13.6 * 1vw);
  height: calc(10 / 13.6 * 1vw);
}

.headerUpLeft > div {
  font-family: Roboto, sans-serif;
  font-size: calc(12 / 13.6 * 1vw);
  font-weight: 300;
  line-height: calc(14 / 13.6 * 1vw);
  display: flex;
  align-items: center;
  gap: calc(5 / 13.6 * 1vw);
}

.headerUpLeft > div > img {
  width: calc(10 / 13.6 * 1vw);
  height: calc(10 / 13.6 * 1vw);
}

.headerBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burgerHeader {
  width: calc(77 / 13.6 * 1vw);
  height: calc(77 / 13.6 * 1vw);
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(96.78deg, #f64d4d -57.09%, #4d5ef6 101.17%);
  border: none;
  position: relative;
}

.burgerHeader > i {
  font-size: calc(40 / 13.6 * 1vw);
  color: white;
  transition: opacity 0.3s linear;
  position: absolute;
}

#xmark {
  opacity: 0;
}

.headerBottom > img:nth-child(2) {
  width: calc(188 / 13.6 * 1vw);
  height: calc(63 / 13.6 * 1vw);
}

form {
  display: flex;
  align-items: center;
  height: calc(46 / 13.6 * 1vw);
  border: 2px solid;
  border-image-slice: 1;

  border-image-source: linear-gradient(
    96.78deg,
    #f64d4d -57.09%,
    #4d5ef6 101.17%
  );
  width: calc(600 / 13.6 * 1vw);
  background-color: white;
}

form > button {
  height: 100%;
  border: none;
}

.vezdeHeading {
  display: flex;
  gap: calc(5 / 13.6 * 1vw);
  align-items: center;
  width: calc(96 / 13.6 * 1vw);
  justify-content: center;
  border: calc(1 / 13.6 * 1vw) solid white;
  background: linear-gradient(211.73deg, #3455d8 -46.71%, #ff4343 121.33%);
}

.vezdeHeading > p {
  font-family: Roboto, sans-serif;
  font-size: calc(14 / 13.6 * 1vw);
  font-weight: 400;
  line-height: calc(16 / 13.6 * 1vw);
}

.vezdeHeading > img {
  width: calc(10 / 13.6 * 1vw);
  height: calc(10 / 13.6 * 1vw);
}

form > input {
  height: 100%;
  border: none;
  width: calc(450 / 13.6 * 1vw);
  outline: none;
  margin-right: calc(10 / 13.6 * 1vw);
  font-size: calc(14 / 13.6 * 1vw);
}

.searchBtn {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBtn > img {
  width: calc(27 / 13.6 * 1vw);
  height: calc(26 / 13.6 * 1vw);
}

.iconsHeading {
  display: flex;
  gap: calc(50 / 13.6 * 1vw);
  align-items: center;
}

.iconHeading {
  display: flex;
  flex-direction: column;
  gap: calc(5 / 13.6 * 1vw);
  align-items: center;
  position: relative;
}

.iconHeading > span {
  position: absolute;
  right: calc(10 / 13.6 * 1vw);
  top: calc(-5 / 13.6 * 1vw);
  font-size: calc(12 / 13.6 * 1vw);
}

.iconHeading > p {
  font-family: Roboto, sans-serif;
  font-size: calc(14 / 13.6 * 1vw);
  font-weight: 400;
  line-height: calc(16 / 13.6 * 1vw);
}

.iconHeading > img {
  width: calc(26 / 13.6 * 1vw);
  height: calc(26 / 13.6 * 1vw);
}

.catalog {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.catalogCard {
  display: flex;
  flex-direction: column;
  width: calc(296 / 13.6 * 1vw);
  gap: calc(9 / 13.6 * 1vw);
  transform: translateY(0);
  transition: transform 0.3s linear;
  box-shadow: 0px 4px 40px 0px #0000001f;
  background-color: white;
}

.catalogCard > button {
  border: none;
  display: flex;
  padding: 0 0 0 calc(30 / 13.6 * 1vw);
  gap: calc(11.5 / 13.6 * 1vw);
  align-items: center;
  background-color: white;
}

.catalogCard > button:first-child {
  background: linear-gradient(96.78deg, #f64d4d -57.09%, #4d5ef6 101.17%);
  padding-top: calc(8 / 13.6 * 1vw);
  padding-bottom: calc(8 / 13.6 * 1vw);
}

.catalogCard > button > p {
  color: #000000;
  font-family: Roboto, sans-serif;
  font-size: calc(14 / 13.6 * 1vw);
  font-weight: 300;
  line-height: calc(16 / 13.6 * 1vw);
}

.catalogCard > button > p:hover {
  font-weight: 400;
}

.catalogCard > button > img {
  width: calc(20 / 13.6 * 1vw);
  height: calc(20 / 13.6 * 1vw);
}

.allCatalog {
  margin-top: calc(10 / 13.6 * 1vw);
}

.allCatalog > img {
  width: calc(10 / 13.6 * 1vw) !important;
  height: calc(6 / 13.6 * 1vw) !important;
}

.catalogCard > button:first-child > p {
  color: white;
}

.allCatalog > p {
  background: linear-gradient(96.78deg, #f64d4d -57.09%, #4d5ef6 101.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.catalogDiscount {
  width: calc(953 / 13.6 * 1vw);
  height: calc(351 / 13.6 * 1vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: red;
  transition: transform 0.3s linear;
}

.catalogDiscount > button {
  width: calc(50 / 13.6 * 1vw);
  height: calc(50 / 13.6 * 1vw);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    96.78deg,
    rgba(246, 77, 77, 0.2) -57.09%,
    rgba(77, 94, 246, 0.2) 101.17%
  );
  position: absolute;
  z-index: 1;
}

.catalogDiscount > button:nth-child(2) {
  left: calc(17 / 13.6 * 1vw);
}

.catalogDiscount > button:nth-child(3) {
  background: linear-gradient(96.78deg, #f64d4d -57.09%, #4d5ef6 101.17%);
  right: calc(17 / 13.6 * 1vw);
}

.catalogDiscount > button > img {
  width: calc(16 / 13.6 * 1vw);
  height: calc(16 / 13.6 * 1vw);
}

.catalogDiscount > img {
  width: calc(953 / 13.6 * 1vw);
  height: 100%;
  position: absolute;
  z-index: 0;
}

.showButton {
  display: none !important;
}

.allCatalog {
  display: none;
}
@media only screen and (max-width: 768px) {
  .showButton {
    display: flex;
    gap: calc(5 / 7.68 * 1vw);
  }

  .showButton > h1 {
    font-family: Roboto, sans-serif;
    font-size: calc(14 / 7.68 * 1vw);
    font-weight: 500;
    line-height: calc(16 / 7.68 * 1vw);
    color: black;
  }
  .headerUp {
    width: 100%;
    gap: calc(129 / 7.68 * 1vw);
  }

  .headerUpLeft {
    gap: calc(13 / 7.68 * 1vw);
  }

  .headerUpRight {
    gap: calc(4 / 7.68 * 1vw);
  }

  .headerUpRight > span {
    width: calc(1 / 7.68 * 1vw);
    height: calc(8 / 7.68 * 1vw);
  }

  .headerUpRight > p {
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(14 / 7.68 * 1vw);
  }

  .headerUpRight > img:first-child {
    width: calc(12 / 7.68 * 1vw);
    height: calc(8 / 7.68 * 1vw);
  }

  .headerUpRight > img:last-child {
    width: calc(8 / 7.68 * 1vw);
    height: calc(8 / 7.68 * 1vw);
  }

  .headerUpLeft > div {
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(14 / 7.68 * 1vw);
    gap: calc(5 / 7.68 * 1vw);
  }

  .headerUpLeft > div > img {
    width: calc(8 / 7.68 * 1vw);
    height: calc(8 / 7.68 * 1vw);
  }

  .burgerHeader {
    width: calc(40 / 7.68 * 1vw);
    height: calc(40 / 7.68 * 1vw);
  }

  .burgerHeader > i {
    font-size: calc(20 / 7.68 * 1vw);
  }

  .headerBottom > img:nth-child(2) {
    width: calc(119 / 7.68 * 1vw);
    height: calc(40 / 7.68 * 1vw);
  }

  form {
    height: calc(32 / 7.68 * 1vw);
    border-image-slice: 1;
    width: calc(360 / 7.68 * 1vw);
  }

  form > button {
    height: 100%;
  }

  form > input {
    font-size: calc(14 / 7.68 * 1vw);
  }

  .vezdeHeading {
    gap: calc(4 / 7.68 * 1vw);
    width: calc(71 / 7.68 * 1vw);
  }

  .vezdeHeading > p {
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(14 / 7.68 * 1vw);
  }

  .vezdeHeading > img {
    width: calc(8 / 7.68 * 1vw);
    height: calc(8 / 7.68 * 1vw);
  }

  form > input {
    height: 100%;
    width: calc(250 / 7.68 * 1vw);
    margin-right: calc(10 / 7.68 * 1vw);
  }

  .searchBtn > img {
    width: calc(16 / 7.68 * 1vw);
    height: calc(16 / 7.68 * 1vw);
  }

  .iconsHeading {
    gap: calc(32 / 7.68 * 1vw);
  }

  .iconHeading {
    gap: calc(5 / 7.68 * 1vw);
  }

  .iconHeading > p {
    font-size: calc(14 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
    display: none;
  }

  .iconHeading > img {
    width: calc(24 / 7.68 * 1vw);
    height: calc(24 / 7.68 * 1vw);
  }

  .catalog {
    width: 100%;
    margin-top: calc(13 / 7.68 * 1vw);
  }

  .catalogCard {
    width: calc(296 / 7.68 * 1vw);
    gap: calc(9 / 7.68 * 1vw);
    display: flex;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .catalogCard > button {
    padding: 0 0 0 calc(30 / 7.68 * 1vw);
    gap: calc(11.5 / 7.68 * 1vw);
  }

  .catalogCard > button:first-child {
    padding-top: calc(8 / 7.68 * 1vw);
    padding-bottom: calc(8 / 7.68 * 1vw);
  }

  .catalogCard > button > p {
    font-size: calc(14 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
  }

  .catalogCard > button > p:hover {
    font-weight: 400;
  }

  .catalogCard > button > img {
    width: calc(20 / 7.68 * 1vw);
    height: calc(20 / 7.68 * 1vw);
  }

  .allCatalog {
    margin-top: calc(10 / 7.68 * 1vw);
  }

  .allCatalog > img {
    width: calc(10 / 7.68 * 1vw) !important;
    height: calc(6 / 7.68 * 1vw) !important;
  }

  .catalogDiscount {
    width: calc(953 / 7.68 * 1vw);
    height: calc(351 / 7.68 * 1vw);
  }

  .catalogDiscount > button {
    width: calc(50 / 7.68 * 1vw);
    height: calc(50 / 7.68 * 1vw);
  }

  .catalogDiscount > button:nth-child(2) {
    left: calc(-8 / 7.68 * 1vw);
  }

  .catalogDiscount > button:nth-child(3) {
    right: calc(-8 / 7.68 * 1vw);
  }

  .catalogDiscount > img {
    width: 100%;
  }

  .catalogDiscount > button > img {
    width: calc(16 / 7.68 * 1vw);
    height: calc(16 / 7.68 * 1vw);
  }
}
