* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding-top: calc(15 / 13.6 * 1vw);
  padding-left: calc(44 / 13.6 * 1vw);
  padding-bottom: calc(18 / 13.6 * 1vw);
  display: flex;
  flex-direction: column;
  gap: calc(19 / 13.6 * 1vw);
  padding-right: calc(44 / 13.6 * 1vw);
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
}

main {
  padding-left: calc(43 / 13.6 * 1vw);
  padding-right: calc(43 / 13.6 * 1vw);
  background-color: #f7f7f7;
  padding-top: calc(30 / 13.6 * 1vw);
  padding-bottom: calc(55 / 13.6 * 1vw);
}

@media only screen and (max-width: 768px) {
  header {
    padding-right: calc(15 / 7.68 * 1vw);
    padding-left: calc(15 / 7.68 * 1vw);
  }
  .burgerHeader {
    display: none;
  }
}
